
ul{
	list-style: none;
}
li {
	margin-top: 20px;
}
h1 {
	font-size: 20px;
	font-style: black;
	margin-left: 20px;
	text-align: left;
}
h2 {
	text-align: center;
	color:white;
}
button {
	height: 40px;
	width: 200px;
	background-color: #007bff;
	margin-top: 10px;
	font-style: black;
	font-size: 15px;
	color: white;
	text-align: bottom;
}
input {
	height: 40px;
	width: 400px;
	margin-left: 250px;

}
.back{
	height: 600px;
	background-image: url(bg-masthead.jpg);
	margin-top: 10px;
	padding-top: 200px;
} 
.regis{
	padding: 10px;
	margin-right: 20px;
	float: right;
}